.about-section {
    padding: 50px 0;
    background-color: #ffffff;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:#02233b;
}

.about-content h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #56b5f0;
}

.about-content p {
    font-size: 0.99rem;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #040f15;
}

.learn-more-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.learn-more-btn:hover {
    background-color: #0056b3;
}
