.event{
   text-align: center;
    justify-content: center;  
}

.event-section {
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .event-section::-webkit-scrollbar {
    display: none;
  }
  
  .event-section {
    -ms-overflow-style: none;
  }
  
  .event-card {
   
    margin-bottom: 10px;
  }
  
 
  .event-section:after {
    content: "";
    display: block;
    height: 100%;
    margin-top: -100%;
    animation: loop 10s linear infinite;
  }
  
  @keyframes loop {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  